body, html {
	font-family: 'Arial', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.auto {
	background-image: url("slike/slika1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(22, 0, 82);
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(255, 255, 255);
}


h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: #010179;
}
main a {
	color: #080000;
	text-decoration: none;
}
main a:hover {
	color: #ffffff;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #b60707;
	clear: both;
}
figure {
	padding: 0.2em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 25%;
	border: 1px solid rgb(8, 8, 8);
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.news img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.news time {
		margin: 0 0 0 1em;
	}
}
footer {
	background-color: rgb(22, 0, 82);
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.news hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid rgb(255, 255, 255);
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}